version: '3'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: "on-failure"
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
  client:
    build:
      context: ./
      dockerfile: dockerfile
    container_name: client
    restart: "on-failure"
    ports:
      - 3000:3000
    volumes:
      - './:/usr/src/app'
      - '/app/node_modules'
    environment: 
      - NODE_ENV=development 
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true